<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>73396728505-remp37rlbeq8nsgfs5cbnvgqii734a69.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.73396728505-remp37rlbeq8nsgfs5cbnvgqii734a69</string>
	<key>API_KEY</key>
	<string>AIzaSyAGiR2v6TJK4GU_cLTOQkM2LrfVSm-PrEU</string>
	<key>GCM_SENDER_ID</key>
	<string>73396728505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ec.Project-2-AirNote</string>
	<key>PROJECT_ID</key>
	<string>project-2-airnote</string>
	<key>STORAGE_BUCKET</key>
	<string>project-2-airnote.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:73396728505:ios:5774afd10cabcb5cee6168</string>
</dict>
</plist>